.formexample {
    margin-top:1rem;
    border: solid 3px goldenrod;
    background-color: black;
    color: chartreuse;
    border-radius: 15px;
    
    h2,.form,.field, .myFormButton {
        text-align: center;
    }

    p {
        padding: 1.2rem;
    }
}